@import url("../../styles/colors.css");

.confirmation-dialog-container {
	position: relative;
	background-color: var(--white01);
	padding: 2rem 2rem;
	width: 35%;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 1rem;
	justify-content: center;
}

.confirmation-text {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.confirmation-message {
	margin-bottom: 2rem;
}

.confirmation-btns-container {
	display: flex;
	justify-content: center;
}

	.confirmation-btns-container button {
		margin-left: 1rem;
	}

.btn {
	padding: 0.5rem 2rem;
	border: 2px solid var(--brandcolor);
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.primary-btn {
	background: var(--brandcolor);
	color: var(--white01);
}

	.primary-btn:hover {
		background: var(--white01);
		color: var(--brandcolor);
		border-color: var(--brandcolor);
	}

.secondary-btn {
	color: var(--brandcolor);
}

.secondary-btn:hover {
	color: var(--white01);
	background: var(--brandcolor);
}
